.title{
  background-color: black;
  top:0;
  left:0;
  width:100%;
  height: 120px;
  color: white;
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: 1;

}
.child{
  width: 21%;
  display: inline-block;
  color:white;
  animation-name: slide1s;
  animation-duration: 6s;
  animation-iteration-count: 1;
  text-decoration: none;
  font-size: 20px;
  
}
#big-bro{
  margin-left: 25px;
  width: 73%;
}
@keyframes slide{
  from{
opacity: 0%;
transform:translateX(300px);
  }
  to{
opacity: 100%;
transform: translateX(0px);
  }
}
@keyframes slide1s{
  from{
opacity: 0%;
transform:translateX(300px);
  }
  to{
opacity: 100%;
transform: translateX(0px);
  }
}
.child a{ 
  text-decoration: none;
}
a{
  color: white;
}
.web-name{
  color: white;
  text-align: center;
  animation-name: slide1s;
  animation-duration: 6s;
  animation-iteration-count: 1;
}
.pic{
  width:75px;
  border-radius: 50%;
  margin-left: 45%;
  margin-right: auto;
  margin-top: 12rem;
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.sum{
  text-align: center;
  animation-name:slide1s ;
  animation-duration: 6s;
  animation-iteration-count: 1;
}
.about{
  background-color: black;
  margin-top: 250px;
  width: 100%;
  height: 200px;
  left: 0;
  color: white;
  text-align: center;
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
html{
  scroll-behavior: smooth;
}
.about-text{
  animation-name: slide1s;
  animation-duration: 6s;
  animation-iteration-count: 1;
}
